# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Local databases
*.db
*.sqlite3

# Angular
node_modules/
.angular/
dist/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Machine Learning models
*.pt
*.h5
*.onnx