# Entornos virtuales de Python
.venv/
venv/
env/
ENV/

# Archivos de caché de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración de variables de entorno (Credenciales privadas)
.env

# Bases de datos locales
*.db
*.sqlite
.dbeaver/
dbeaver-light.properties

# Archivos de IDE
.vscode/
.idea/

# Modelos de Machine Learning
*.pt
*.h5
*.onnx