.recommendation-card {
  background: white;
  border-radius: 18px;
  padding: 28px 34px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.05);

  h2 {
    font-size: 22px;
    color: #222;
    margin-bottom: 24px;
  }

  p {
    font-size: 18px;
    color: #555;
    margin-bottom: 10px;
    line-height: 1.45;
  }

  button {
    width: 100%;
    height: 58px;
    margin-top: 26px;

    border: none;
    border-radius: 12px;

    background: #3d9732;
    color: white;

    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
  }
}