.page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 22px;

  h1 {
    font-size: 30px;
    font-weight: 900;
    color: #222;
  }

  p {
    font-size: 15px;
    color: #777;
    margin-top: 4px;
  }
}

.actions {
  display: flex;
  align-items: center;
}

.actions ::ng-deep button {
  background: #347d2b;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 13px 24px;
  font-size: 15px;
  font-weight: 800;
  cursor: pointer;
}